<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <title>Patricio Carestía | Avanz</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <div class="line-container">
            <div class="l1"></div>
            <div class="l5"></div>
        </div>
        <div class="header">
            <div class="container-wrap">
                <ul class="nav-links left">
                    <li><a href="/"><i class="fa fa-chevron-left"></i></a></li>
                </ul>
                <img class="profile" src="{% static 'images/profile.jpg' %}" />
                <ul class="nav-links right">
                </ul>
            </div>
        </div>

        <section id="main-content" style="margin: auto;">
            <div class="container-wrap">
                <div class="hero">
                    <h1 class="capitalize">
                        Avanz Sistemas</span>
                    </h1>
                </div>
            </div>
        </section>
        <section id="works" style="margin:  auto;">
            <span class="section-label"></span>
            <div class="container-wrap">
                <div class="gallery">
                    <center>
                        <img width="70%" src="{% static 'images/avanz-screen0.png' %}" style="border-radius: 20px;"/>
                    </center>
                </div>
            </div>
        </section>
        <section id="about">
            <span class="section-label">Proyecto</span>
            <div class="container-wrap">
                <div class="gallery">
                    <div class="row">
                        <div class="">
                            <div class="">
                                <p style="padding: 0;">
                                    Avanz es un emprendimiento que inicié junto a otro estudiante de la Universidad Tecnológica Nacional.<br>
                                    Con este proyecto apuntamos a dar soluciones innovadoras a empresas que lo requieran,
                                    a través de la creación de sitios web y aplicaciones para 
                                    los sistemas operativos móviles iOS y Android. <br>
                                    No solo diseñamos estas soluciones para otras organizaciones, sino también 
                                    para usuarios finales a través de nuestras propias aplicaciones, como lo
                                    son <a href="../reader">Lector de Billetes</a>, <a href="../giveaway">Sorteos</a> y <a href="../pet">Mascotas Perdidas</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="about">
            <span class="section-label"></span>
            <div class="container-wrap">
                <div class="gallery">
                    <div class="row">
                        <img src="{% static 'images/avanz-screen1.png' %}" style="max-width: 100%;" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section id="about">
            <span class="section-label">Mis roles</span>
            <div class="container-wrap">
                <div class="gallery">
                    <div class="row">
                        <div class="grid-item">
                            <div class="grid-content">
                                <h3>Branding</h3>
                                <p>
                                    Soy el responsable de gestionar la imagen de la marca
                                    en el mercado. 
                                </p>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="grid-content">
                                <h3>Diseño Web</h3>
                                <p>
                                    Llevé a cabo del diseño de la página web 
                                    <a href="https://avanzsistemas.com" target="_blank">AvanzSistemas.com</a><br>
                                </p>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="grid-content">
                                <h3>Diseño digital</h3>
                                <p>
                                    Creador del logo. Me encargo de toda la parte gráfica de la marca y 
                                    de los contenidos que se contemplen en la estrategia.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-item">
                            <div class="grid-content">
                                <h3>Community Manager</h3>
                                <p>
                                    Soy el responsable de la planeación y ejecución de tareas 
                                    que hacen que la marca adquiera presencia en internet,
                                    especialmente en sus 
                                    <a href="https://www.instagram.com/avanzsistemas/">
                                    redes sociales</a>. <br>
                                </p>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="grid-content">
                                <h3>Marketing Digital</h3>
                                <p>Me encargo de planear y ejecutar las estrategias de comercialización de la aplicación en los medios digitales.
                                </p>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="grid-content">
                                <h3></h3>
                                <p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                                <p>
                                    Lo mencionado anteriormente refiere a mis roles en
                                    la creación de Avanz como emprendimiento. <br><br>
                                    Respecto a las actividades que desempeñamos como
                                    organización, mi responsabilidad es el desarrollo web y el diseño de toda
                                    la parte gráfica que requieran los sistema que llevemos a cabo.
                                    Eso incluye la creación de logos, el diseño de las interfaces de
                                    usuario (tanto para sitios web como aplicaciones móviles),
                                    la confección de imágenes para publicidad y redes sociales,
                                    entre otras tareas. <br><br>
                                    Mi colega, <a href="https://linkedin.com/in/eliseo-gamba-a7a189127/" style="color: black; font-weight: bold;">Eliseo Gamba</a>, 
                                    es el encargado de realizar la programación de dichas aplicaciones
                                    y toda la parte de back-end que requiera cada una de las actividades que desempeñemos, 
                                    como la creación de APIs, la administración de bases de datos y 
                                    el montaje de aplicaciones en el servidor.
                                </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="about">
            <span class="section-label">Información</span>
            <div class="container-wrap">
                <div class="gallery">
                    <div class="row">
                        <img src="{% static 'images/avanz-screen2.png' %}" style="max-width: 100%;" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section id="links">
            <span class="section-label">Web</span>
            <div class="container-wrap">
                <div class="gallery">
                    <div class="column">
                        <div class="grid-item">
                            <div class="grid-content">
                                <a href="https://avanzsistemas.com/">
                                    www.AvanzSistemas.com
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="links">
            <span class="section-label"></span>
            <div class="container-wrap">
                <div class="gallery">
                    <div class="column">
                        <div class="grid-item">
                            <div class="grid-content">
                                <a href="../#contact">
                                    <button style="  
                                        background-color: #007fff;
                                        cursor: pointer;
                                        border: none;
                                        color: white;
                                        padding: 15px 32px;
                                        text-align: center;
                                        text-decoration: none;
                                        display: inline-block;
                                        font-size: 16px;">
                                            Contáctame
                                    </button>     
                                </a>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <br /><br />

        <section id="contact">
            <div class="container-wrap">
                
            </div>
        </section>
        <div id="footer">
            <div class="container-wrap">
                <span> Copyright © 2021 Patricio Carestía </span>
                <a href="{% static 'pdfs/Patricio-Carestia.pdf' %}"> Curriculum Vitae </a>
            </div>
        </div>
    </body>

    <script>
        document.querySelectorAll(".nav-links > li > a")
                .forEach(function(link) {
                    link.addEventListener("click", function(e) {
                        document.querySelector(e.target.getAttribute("href"))
                            .scrollIntoView({
                                behavior: "smooth"
                            });
                    });
                });
    </script>
</html>
