<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patricio Carestia</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>

  <body>
    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">Patricio Carestía</a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list grid">
            <li class="nav__item">
              <a href="#home" class="nav__link active-link">
                <i class="uil uil-estate nav__icon"></i>Home
              </a>
            </li>
            <li class="nav__item">
              <a href="#about" class="nav__link">
                <i class="uil uil-user nav__icon"></i>About
              </a>
            </li>
            <li class="nav__item">
              <a href="#skills" class="nav__link">
                <i class="uil uil-file-alt nav__icon"></i>Skills
              </a>
            </li>
            <li class="nav__item">
              <a href="#services" class="nav__link">
                <i class="uil uil-briefcase-alt nav__icon"></i>Services
              </a>
            </li>
            <li class="nav__item">
              <a href="#portfolio" class="nav__link">
                <i class="uil uil-scenery nav__icon"></i>Portfolio
              </a>
            </li>
            <li class="nav__item">
              <a href="#contact" class="nav__link">
                <i class="uil uil-message nav__icon"></i>Contact
              </a>
            </li>
          </ul>
          <i class="uil uil-times nav__close" id="nav-close"></i>
        </div>

        <div class="nav__btns">

          <i class="uil uil-moon change-theme" id="theme-button"></i>

          <div class="nav__toggle" id="nav-toggle">
            <i class="uil uil-apps"></i>
          </div>
        </div>
      </nav>
    </header>

    <main class="main">
      <section class="home section" id="home">
        <div class="home__container big-container grid">
          <div class="home__content grid">
            <div class="home__social">
              <a href="https://www.linkedin.com/in/patriciocarestia/" target="_blank" class="home__social-icon">
                <i class="uil uil-linkedin-alt"></i>
              </a>
              <a href="mailto:patriciocarestia@gmail.com" target="_blank" class="home__social-icon">
                <i class="uil uil-envelope"></i>
              </a>
            </div>

            <div class="home__img">
             <img class="home__blob-img" src="{% static 'images/profile.svg' %}" alt="" width="60%">            
            </div>

            <div class="home__data">
              <h1 class="home__title">Hi, I am Patricio</h1>
              <h3 class="home__subtitle">Systems Engineer & <br> Frontend Developer</h3>
              <p class="home__description">Passionate systems engineering graduate with a high energy approach and well-developed skills in teamwork and web development. 
                <br> Motivated to advance and expand my skill set as a frontend developer through challenging projects.</p>
              <a href="#contact" class="button button--flex">
                Contact Me <i class="uil uil-message button__icon"></i>
              </a>
            </div>
          </div>

          <div class="home__scroll">
            <a href="#about" class="home__scroll-button button--flex">
              <i class="uil uil-mouse-alt home__scroll-mouse"></i>
              <span class="home__scroll-name">Scroll Down</span>
              <i class="uil uil-arrow-down home__scroll-arrow"></i>
            </a>
          </div>
        </div>
      </section>

      <section class="about section" id="about">
        <h2 class="section__title">About Me</h2>
        <span class="section__subtitle">My Introduction</span>

        <div class="about__container mid-container grid">
          <img class="home__blob-img" src="{% static 'images/about.svg' %}" alt="" width="60%">            

          <div class="about__data">
            <p class="about__description">
              <br> I love writing code and designing. <br>Ever since I started to do it, I have been obsessed with the idea 
              of <span class="highlighted">using programming to solve practical problems and offer proffesional experience</span> in all my projects.
              <br> That is the reason why I decided to complete my Systems Engineering degree and to start my path as Frontend Developer.
            </p>

            <!-- <div class="about__info">
              <div>
                <span class="about__info-title">08+</span>
                <span class="about__info-name">Years <br> experience</span>
              </div>
              <div>
                <span class="about__info-title">20+</span>
                <span class="about__info-name">Completed <br> projects</span>
              </div>
              <div>
                <span class="about__info-title">05+</span>
                <span class="about__info-name">Companies <br> wroked</span>
              </div>
            </div> -->

            <div class="about__buttons">
              <a target="_blank" href="{% static 'pdfs/CV.pdf' %}" class="button button--flex">
                Download CV<i class="uil uil-download-alt button__icon"></i>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="skills section" id="skills">
        <h2 class="section__title">Skills</h2>
        <span class="section__subtitle">My Technical Level</span>

        <div class="skills__container container grid">
          <div>
            <div class="skills__content skills__open">
              <div class="skills__header">
                <i class="uil uil-brackets-curly skills__icon"></i>

                <div>
                  <h1 class="skills__title">Frontend Developer</h1>
                  <span class="skills__subtitle">More than 5 months of experience</span>
                </div>

                <i class="uil uil-angle-down skills__arrow"></i>
              </div>

              <div class="skills__list grid">
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">HTML</h3>
                    <span class="skills__number">90%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__html"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">CSS</h3>
                    <span class="skills__number">85%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__css"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">JS</h3>
                    <span class="skills__number">70%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__js"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">React</h3>
                    <span class="skills__number">60%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__react" style="width:60%;"></span>
                  </div>
                </div>
              </div>
              
            </div>

            <div class="skills__content skills__close">
              <div class="skills__header">
                <i class="uil uil-server-network skills__icon"></i>

                <div>
                  <h1 class="skills__title">Backend Developer</h1>
                  <span class="skills__subtitle">Academic experience</span>
                </div>

                <i class="uil uil-angle-down skills__arrow"></i>
              </div>

              <div class="skills__list grid">
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">MySQL</h3>
                    <span class="skills__number">75%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__mysql"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Node.js</h3>
                    <span class="skills__number">60%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__node"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Python</h3>
                    <span class="skills__number">50%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__python"></span>
                  </div>
                </div>

              </div>

            </div>
          </div>

          <div>
            <div class="skills__content skills__close">
              <div class="skills__header">
                <i class="uil uil-server-network skills__icon"></i>

                <div>
                  <h1 class="skills__title">Designer</h1>
                  <span class="skills__subtitle">More than 2 years of experience</span>
                </div>

                <i class="uil uil-angle-down skills__arrow"></i>
              </div>

              <div class="skills__list grid">
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Adobe XD</h3>
                    <span class="skills__number">90%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__xd"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Photoshop</h3>
                    <span class="skills__number">85%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__photoshop"></span>
                  </div>
                </div>

              </div>

            </div>
            
          </div>

        </div>
        
      </section>

      <section class="qualification section">
        <h2 class="section__title">Qualification</h2>
        <span class="section__subtitle">My Personal Journey</span>

        <div class="qualification__container container">
          <div class="qualification__tabs">
            <div class="qualification__button button-flex qualification__active" data-target="#education">
              <i class="uil uil-graduation-cap qualification-icon"></i>
              Education
            </div>

            <div class="qualification__button button-flex" data-target="#work">
              <i class="uil uil-briefcase-alt qualification-icon"></i>
              Work
            </div>
          </div>

          <div class="qualification__sections">
            <!-- QUALIFICATION CONTENT #1 -->
            <div class="qualification__content qualification__active" data-content id="education">
              <!-- QUALIFICATION 1 -->
              <div class="qualification__data">
                <div>
                  <h3 class="qualification__title">Information Systems Engineering</h3>
                  <span class="qualification__subtitle">UNIVERSIDAD TECNOLÓGICA NACIONAL - FRRO</span>
                  <div class="qualification__calendar">
                    <i class="uil uil-calendar-alt"></i>
                    2017 - 2022
                  </div>
                </div>

                <div>
                  <span class="qualification__rounder"></span>
                  <span class="qualification__line"></span>
                </div>
              </div>

              <!-- QUALIFICATION 2 -->
              <div class="qualification__data">
                <div></div>

                <div>
                  <span class="qualification__rounder"></span>
                  <span class="qualification__line"></span>
                </div>

                <div>
                  <h3 class="qualification__title">Incorporated Private High School</h3>
                  <span class="qualification__subtitle">ESCUELA "SANTA JUSTINA" N° 8154</span>
                  <div class="qualification__calendar">
                    <i class="uil uil-calendar-alt"></i>
                    2011 - 2016
                  </div>
                </div>
              </div>

              <!-- QUALIFICATION 3 -->
              <!-- <div class="qualification__data">
                <div>
                  <h3 class="qualification__title">Web Development</h3>
                  <span class="qualification__subtitle">Peru - Institute</span>
                  <div class="qualification__calendar">
                    <i class="uil uil-calendar-alt"></i>
                    2017 - 2019
                  </div>
                </div>

                <div>
                  <span class="qualification__rounder"></span>
                  <span class="qualification__line"></span>
                </div>
              </div>-->

              <!-- QUALIFICATION 4 -->
              <div class="qualification__data">
                <div></div>

                <div>
                  <!-- <span class="qualification__rounder"></span> -->
                  <!-- <span class="qualification__line"></span> -->
                </div>

                 <!--<div>
                  <h3 class="qualification__title">Master in UI/UX</h3>
                  <span class="qualification__subtitle">Peru - Institute</span>
                  <div class="qualification__calendar">
                    <i class="uil uil-calendar-alt"></i>
                    2019 - 2021
                  </div>
                </div>-->
                
              </div>
            </div>
            <!-- QUALIFICATION CONTENT #2 -->
            <div class="qualification__content" data-content id="work">
              <!-- QUALIFICATION 1 -->
              <div class="qualification__data">
                <div>
                  <h3 class="qualification__title">Software Developer</h3>
                  <span class="qualification__subtitle">Psiware - Rosario</span>
                  <div class="qualification__calendar">
                    <i class="uil uil-calendar-alt"></i>
                    2021 - 2022 [Internship]
                  </div>
                </div>

                <div>
                  <span class="qualification__rounder"></span>
                  <span class="qualification__line"></span>
                </div>
              </div>

              <!-- QUALIFICATION 2 -->
              <div class="qualification__data">
                <div></div>

                <div>
                  <span class="qualification__rounder"></span>
                  <span class="qualification__line"></span>
                </div>

                <div>
                  <h3 class="qualification__title">Freelance Frontend Developer</h3>
                  <span class="qualification__subtitle">Avanz - Rosario</span>
                  <div class="qualification__calendar">
                    <i class="uil uil-calendar-alt"></i>
                    2020 - PRESENT
                  </div>
                </div>
              </div>

              <!-- QUALIFICATION 3 -->
              <div class="qualification__data">
                 <!--<div>
                  <h3 class="qualification__title">UI Designer</h3>
                  <span class="qualification__subtitle">Figma - Spain</span>
                  <div class="qualification__calendar">
                    <i class="uil uil-calendar-alt"></i>
                    2017 - 2019
                  </div>
                </div>-->

                <div>
                  <!-- <span class="qualification__rounder"></span> -->
                  <!-- <span class="qualification__line"></span> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="services section" id="services">
        <h2 class="section__title">Services</h2>
        <span class="section__subtitle">What I Offer</span>
        <div class="services__container container grid">

          <!-- SERVICE CONTENT #1 -->
          <div class="services__content">
            <div>
              <i class="uil uil-arrow services__icon"></i>
              <h3 class="services__title">Frontend <br> Developer</h3>
            </div>

            <a href="#portfolio">
              <span class="button button--flex button--small button--link">
                  View More
                <!-- <i class="uil uil-arrow-right button__icon"></i> -->
            </span>
            </a>

            <!-- <div class="services__modal">
              <div class="services__modal-content">
                <h4 class="services__modal-title">Frontend <br> Developer</h4>
                <i class="uil uil-times services__modal-close"></i>
  
                <ul class="services__modal-services grid">
                  <li class="services__modal-service">
                    <i class="uil uil-check-circle services__modal-icon"></i>
                    <p>I develop the user interface.</p>
                  </li>
                  <li class="services__modal-service">
                    <i class="uil uil-check-circle services__modal-icon"></i>
                    <p>Web page development.</p>
                  </li>
                  <li class="services__modal-service">
                    <i class="uil uil-check-circle services__modal-icon"></i>
                    <p>I create UX element interactions.</p>
                  </li>
                  <li class="services__modal-service">
                    <i class="uil uil-check-circle services__modal-icon"></i>
                    <p>I position your company brand.</p>
                  </li>
                </ul>
              </div>
            </div> -->
          </div>

          <!-- SERVICE CONTENT #2 -->
          <div class="services__content">
            <div>
              <i class="uil uil-web-grid services__icon"></i>
              <h3 class="services__title">UX/UI <br> Designer</h3>
            </div>

            <a href="#portfolio">
              <span class="button button--flex button--small button--link">
                  View More
                <!-- <i class="uil uil-arrow-right button__icon"></i> -->
              </span>
            </a>

            <!-- <div class="services__modal">
              <div class="services__modal-content">
                <h4 class="services__modal-title">UX/UI <br> Designer</h4>
                <i class="uil uil-times services__modal-close"></i>

                <ul class="services__modal-services grid">
                  <li class="services__modal-service">
                    <i class="uil uil-check-circle services__modal-icon"></i>
                    <p>I develop the user interface.</p>
                  </li>
                  <li class="services__modal-service">
                    <i class="uil uil-check-circle services__modal-icon"></i>
                    <p>Web page development.</p>
                  </li>
                  <li class="services__modal-service">
                    <i class="uil uil-check-circle services__modal-icon"></i>
                    <p>I create UX element interactions.</p>
                  </li>
                  <li class="services__modal-service">
                    <i class="uil uil-check-circle services__modal-icon"></i>
                    <p>I position your company brand.</p>
                  </li>
                </ul>
              </div>
            </div> -->
          </div>


          <!-- SERVICE CONTENT #3 -->
          <div class="services__content">
            <div>
              <i class="uil uil-analytics services__icon"></i>
              <h3 class="services__title">Problem <br> Solver</h3>
            </div>

            <a href="#portfolio">
              <span class="button button--flex button--small button--link">
                  View More
                <!-- <i class="uil uil-arrow-right button__icon"></i> -->
              </span>
            </a>

            <!-- <div class="services__modal">
              <div class="services__modal-content">
                <h4 class="services__modal-title">Problem <br> Solver</h4>
                <i class="uil uil-times services__modal-close"></i>

                <ul class="services__modal-services grid">
                  <li class="services__modal-service">
                    <i class="uil uil-check-circle services__modal-icon"></i>
                    <p>I develop the user interface.</p>
                  </li>
                  <li class="services__modal-service">
                    <i class="uil uil-check-circle services__modal-icon"></i>
                    <p>Web page development.</p>
                  </li>
                  <li class="services__modal-service">
                    <i class="uil uil-check-circle services__modal-icon"></i>
                    <p>I create UX element interactions.</p>
                  </li>
                  <li class="services__modal-service">
                    <i class="uil uil-check-circle services__modal-icon"></i>
                    <p>I position your company brand.</p>
                  </li>
                </ul>
              </div>
            </div> -->
          </div>
        </div>
      </section>


      <section class="portfolio section" id="portfolio">
        <h2 class="section__title">Portfolio</h2>
        <span class="section__subtitle">Most recent works</span>

        <div class="portfolio__container container swiper-container">
          <div class="swiper-wrapper">
            <div class="portfolio__content grid swiper-slide">
              <img src="{% static 'images/avanz.svg' %}" alt="" class="portfolio__img">

              <div class="portfolio__data">
                <h3 class="portfolio__title">Avanz</h3>
                <p class="portfolio__description">Personal project to offer professional web and mobile solutions to end users and companies.</p>
                <a href="https://avanzsistemas.com" class="button button--flex button--small portfolio__button">
                  Website
                  <i class="uil uil-arrow-right button__icon"></i>
                </a>
              </div>
            </div>

            <div class="portfolio__content grid swiper-slide">
              <img src="{% static 'images/giveaways.svg' %}" alt="" class="portfolio__img">

              <div class="portfolio__data">
                <h3 class="portfolio__title">Sorteos</h3>
                <p class="portfolio__description">Website development with HTML/CSS and mobile design mockup with Adobe XD of Sorteos app.</p>
                <a href="https://sorteos.avanzsistemas.com" class="button button--flex button--small portfolio__button">
                  Website
                  <i class="uil uil-arrow-right button__icon"></i>
                </a>
              </div>
            </div>

            <div class="portfolio__content grid swiper-slide">
              <img src="{% static 'images/lost-pets' %}.svg" alt="" class="portfolio__img">

              <div class="portfolio__data">
                <h3 class="portfolio__title">Mascotas Perdidas</h3>
                <p class="portfolio__description">Mobile design mockup in Adobe XD of Mascotas Perdidas, 
                  a mobile app to help people recover their lost pets.</p>
                <a href="https://play.google.com/store/apps/details?id=com.avanzsistemas.apppets" class="button button--flex button--small portfolio__button">
                  Play Store
                  <i class="uil uil-arrow-right button__icon"></i>
                </a>
              </div>
            </div>

            <div class="portfolio__content grid swiper-slide">
              <img src="{% static 'images/reader.svg' %}" alt="" class="portfolio__img">

              <div class="portfolio__data">
                <h3 class="portfolio__title">Lector de Billetes</h3>
                <p class="portfolio__description">Bill reader app brand design with Adobe XD.</p>
                <a href="https://play.google.com/store/apps/details?id=com.fundacionargentinabajavision.lectorbilletes" class="button button--flex button--small portfolio__button">
                  Play Store
                  <i class="uil uil-arrow-right button__icon"></i>
                </a>
              </div>
            </div>

          </div>

          <div class="swiper-button-next">
            <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
          </div>

          <div class="swiper-button-prev">
            <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
          </div>

          <div class="swiper-pagination">
          </div>

        </div>
      </section>

      <section class="project section">
        <div class="project__bg">
          <div class="project__container big-container grid">
            <div>
              <h2 class="project__title">Start a Project</h2>
            </div>
            <div>
              <p class="project__description">Do you have something in mind? <br> It's time to work.</p>
            </div>
            <div>
              <a href="#contact" class="button button--flex button--clear">
                Let's do this
                <i class="uil uil-message project__icon button__icon"></i>
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- <section class="testimonial section">
        <h2 class="section__title">Testimonial</h2>
        <span class="section__subtitle">My client saying</span>

        <div class="testimonial__container container swiper-container">
          <div class="swiper-wrapper">
            <div class="testimonial__content swiper-slide">
              <div class="testimonial__data">
                <div class="testimonial__header">
                  <img src="{% static 'images/testimonial1.jpg' %}" alt="" class="testimonial__img">

                  <div>
                    <h3 class="testimonial__name">Sara Smith</h3>
                    <span class="testimonial__client">Client</span>
                  </div>
                </div>

                <div>
                  <i class="uil uil-star testimonial__icon-star"></i>
                  <i class="uil uil-star testimonial__icon-star"></i>
                  <i class="uil uil-star testimonial__icon-star"></i>
                  <i class="uil uil-star testimonial__icon-star"></i>
                  <i class="uil uil-star testimonial__icon-star"></i>
                </div>
              </div>

              <p class="testimonial__description">I get a good impression, I carry out
                my project with all the possible quality and attention and support 24 hours a day
              </p>


            </div>

            <div class="testimonial__content swiper-slide">
              <div class="testimonial__data">
                <div class="testimonial__header">
                  <img src="{% static 'images/testimonial2.jpg' %}" alt="" class="testimonial__img">

                  <div>
                    <h3 class="testimonial__name">Matt Robinson</h3>
                    <span class="testimonial__client">Client</span>
                  </div>
                </div>

                <div>
                  <i class="uil uil-star testimonial__icon-star"></i>
                  <i class="uil uil-star testimonial__icon-star"></i>
                  <i class="uil uil-star testimonial__icon-star"></i>
                  <i class="uil uil-star testimonial__icon-star"></i>
                  <i class="uil uil-star testimonial__icon-star"></i>
                </div>
              </div>

              <p class="testimonial__description">I get a good impression, I carry out
                my project with all the possible quality and attention and support 24 hours a day
              </p>


            </div>

            <div class="testimonial__content swiper-slide">
              <div class="testimonial__data">
                <div class="testimonial__header">
                  <img src="{% static 'images/testimonial3.jpg' %}" alt="" class="testimonial__img">

                  <div>
                    <h3 class="testimonial__name">Raul Harris</h3>
                    <span class="testimonial__client">Client</span>
                  </div>
                </div>

                <div>
                  <i class="uil uil-star testimonial__icon-star"></i>
                  <i class="uil uil-star testimonial__icon-star"></i>
                  <i class="uil uil-star testimonial__icon-star"></i>
                  <i class="uil uil-star testimonial__icon-star"></i>
                  <i class="uil uil-star testimonial__icon-star"></i>
                </div>
              </div>

              <p class="testimonial__description">I get a good impression, I carry out
                my project with all the possible quality and attention and support 24 hours a day
              </p>


            </div>
          </div>

          <div class="swiper-pagination swiper-pagination-testimonial">

          </div>
        </div>
      </section> -->


      <section class="contact section" id="contact">
        <h2 class="section__title">Contact Me</h2>
        <span class="section__subtitle">Get in touch</span>

        <div class="contact__container big-container grid">
          <div>
            <div class="contact__information">
              <i class="uil uil-envelope contact__icon"></i>

              <div>
                <h3 class="contact__title">Email</h3>
                <span class="contact__subtitle">patriciocarestia@gmail.com</span>
              </div>
            </div>

            <div class="contact__information">
              <i class="uil uil-map-marker contact__icon"></i>

              <div>
                <h3 class="contact__title">Location</h3>
                <span class="contact__subtitle">Rosario, Argentina</span>
              </div>
            </div>

          </div>
            <form onsubmit="submitForm(event)" id="contact-form" method="post" action="/contact/" class="contact__form grid">
                <input type="hidden" name="captcha_token" id="captcha_token" />
                <div class="contact__content">
                  <label class="contact__label">Full Name / Company</label>
                  <input name="name" required type="text" class="contact__input">
                </div>
              <div class="contact__content">
                <label class="contact__label">Email</label>
                <input name="email" required type="email" class="contact__input">
              </div>
              <div class="contact__content">
                <label class="contact__label">Message</label>
                <textarea name="comments" required cols="3" rows="7" class="contact__input"></textarea>
              </div>

              <!-- MENSAJE ENVIADO CON EXITO -->
              {% if success %}
                {{message}}
              {% else %} <!-- MENSAJE CON ERRORES -->
                {{message}}
              {% endif %}

              <div>
                <button class="contact__button button button--file">
                  Send Message
                  <i class="uil uil-message button__icon"></i>
                </button>
              </div>

              {% csrf_token %}
            </form>

        </div>
      </section>

    </main>


    <footer class="footer">
      <div class="footer__bg">
        <div class="footer__container big-container grid">
          <div>
            <h1 class="footer__title">Patricio</h1>
            <span class="footer__subtitle">Systems Engineer & <br> Frontend Developer</span>
          </div>

          <ul class="footer__links">
            <li>
              <a href="#services" class="footer__link">Services</a>
            </li>
            <li>
              <a href="#portfolio" class="footer__link">Portfolio</a>
            </li>
            <li>
              <a href="#contact" class="footer__link">Contact</a>
            </li>
          </ul>

          <div class="footer__socials">
            <a href="https://www.linkedin.com/in/patriciocarestia/" target="_blank" class="footer__social">
              <i class="uil uil-linkedin"></i>
            </a>
            <a href="mailto:patriciocarestia@gmail.com" target="_blank" class="footer__social">
              <i class="uil uil-envelope"></i>
            </a>
          </div>
        </div>

        <p class="footer__copy">&#169; Patricio Carestía. All right reserved</p>
      </div>

    </footer>

    <a href="#" class="scrollup" id="scroll-up">
      <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>

    <script src="https://www.google.com/recaptcha/api.js?render=6Ld4CDQgAAAAANnDfNW45lc0BtJqkQX-urptqKms"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
      {% if message %}
        location.href += "#contact"
      {% endif %}
    </script>
  </body>

</html>