<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <title>Mascotas Perdidas</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <div class="line-container">
            <div class="l1"></div>
            <div class="l5"></div>
        </div>
        <div class="header">
            <div class="container-wrap">
                <ul class="nav-links left">
                    <li><a href="/"><i class="fa fa-chevron-left"></i></a></li>
                </ul>
                <img class="profile" src="{% static 'images/profile.jpg' %}" />
                <ul class="nav-links right">
                </ul>
            </div>
        </div>

        <section id="main-content" style="margin: auto;">
            <div class="container-wrap">
                <div class="hero">
                    <h1 class="capitalize">
                        Mascotas perdidas</span>
                    </h1>
                </div>
            </div>
        </section>
        <section id="works" style="margin:  auto;">
            <span class="section-label"></span>
            <div class="container-wrap">
                <div class="gallery">
                    <center>
                        <img width="70%" src="{% static 'images/pet-screen0.svg' %}" style="border-radius: 10px;"/>
                    </center>
                </div>
            </div>
        </section>
        <section id="about">
            <span class="section-label">Proyecto</span>
            <div class="container-wrap">
                <div class="gallery">
                    <div class="row">
                        <div class="">
                            <div class="">
                                <p style="padding: 0;">
                                    Perder a una mascota puede ser uno 
                                    de los momentos mas desesperantes para una familia. <br>
                                    Mascotas Perdidas es una aplicación que permite que tanto personas 
                                    que perdieron mascotas como quienes las encontraron 
                                    estén estrechamente vinculadas para hacer la búsqueda más efectiva.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="about">
            <span class="section-label">UX/UI</span>
            <div class="container-wrap">
                <div class="gallery">
                    <div class="row">
                        <img src="{% static 'images/pet-screen1.png' %}" style="max-width: 100%;" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section id="about">
            <span class="section-label">Mis roles</span>
            <div class="container-wrap">
                <div class="gallery">
                    <div class="row">
                        <div class="grid-item">
                            <div class="grid-content">
                                <h3>Diseño UX/UI</h3>
                                <p>
                                    Mi rol como diseñador UX/UI en la aplicación
                                    tuvo como objetivo lograr una interfaz amigable e intuitiva
                                    que al mismo tiempo consiga ser atractiva y visual
                                    para los usuarios.
                                </p>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="grid-content">
                                <h3>Diseño Digital</h3>
                                <p>
                                    Me encargo de toda la parte gráfica de la marca y 
                                    de contenidos que se contemplen en la estrategia, tales como la creación 
                                    del logo, las imágenes subidas a la App Store y Google Play,
                                    presentaciones publicitarias, entre otros.
                                </p>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="grid-content">
                                <h3>Testing</h3>
                                <p>
                                    Llevé a cabo las pruebas de usabilidad de la aplicación 
                                    en búsqueda de la detección de errores previo a la puesta
                                    en producción.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-item">
                            <div class="grid-content">
                                <h3>Marketing Digital</h3>
                                <p>
                                    Encargado de la aplicación de las estrategias de 
                                    expansión de la aplicación en los medios digitales. 
                                </p>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="grid-content">
                                <h3>Community Manager</h3>
                                <p>
                                    Soy el responsable de la planeación y ejecución de tareas 
                                    referentes a la comunicación con los usuarios de la aplicación,
                                    especialmente en sus 
                                    <a style="color: #22bcbc;" href="instagram.com/app_sorteos_ig/">redes sociales</a>.                               </p>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="grid-content">
                                <h3></h3>
                                <p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="about">
            <span class="section-label">Descargar</span>
            <div class="container-wrap">
                <div class="gallery">
                    <div class="row">
                        <img src="{% static 'images/pet-screen2.png' %}" style="max-width: 100%;" alt="">
                    </div>
                </div>
            </div>
        </section>
        
        <section id="links">
            <span class="section-label">Plataformas</span>
            <div class="container-wrap">
                <div class="gallery">
                    <div class="column">
                        <div class="grid-item">
                            <div class="grid-content">
                                <a style="color: #22bcbc;">
                                    Descargala de App Store
                                </a>
                                <span> Próximamente </span>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="grid-content">
                                <a style="color: #22bcbc;">
                                    Descargala de Google Play Store
                                </a>
                                <span> Próximamente </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br /><br />

        <section id="contact">
            <div class="container-wrap">
                
            </div>
        </section>
        <div id="footer">
            <div class="container-wrap">
                <span> Copyright © 2021 Patricio Carestía </span>
                <a href=""> Curriculum Vitae </a>
            </div>
        </div>
    </body>

    <script>
        document.querySelectorAll(".nav-links > li > a")
                .forEach(function(link) {
                    link.addEventListener("click", function(e) {
                        document.querySelector(e.target.getAttribute("href"))
                            .scrollIntoView({
                                behavior: "smooth"
                            });
                    });
                });
    </script>
</html>
